.loader{
  margin: 0 0 2em;
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
}
.navbar-brand > a {
  color: #6d6868,
}
// @import '../sass/light-bootstrap-dashboard.scss';
// @import './colors';
// @import './mixins';
//
// html {
//   font-size: 62.5%;
// }
//
// body {
//   font-size: 10px;
//   background-color: #FFFFFF;
//   margin: 0;
// }
//
// a {
//   text-decoration: none;
//   color: $p-white;
// }
//
// .hide {
//   display: none;
// }
//
// button {
//   border-radius: 0px;
// }
//
// @media (min-width: 931px) {
//   #main-section {
//     display: flex;
//     justify-content: center;
//     // padding-top: 12rem;
//     min-height: 55rem;
//   }
// }
//
// @media (max-width: 930px) {
//   #main-section {
//     display: flex;
//     justify-content: center;
//   }
// }
